*{
  padding: 0;
  margin: 0;
}

body{
  background: linear-gradient(#FDFFFC, #7387AB);
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: sans-serif;
  padding: 0 10vw;
}

.container-main{
  position: relative;
  padding: 30px;
  background: rgba(255, 255, 255, 0.30);
  width: 80vw;
  border-radius: 12px;
}

h1{
  padding: 10px;
}

.main-form{
  background-color: #E6EAEF;
  margin-top: 10px;
  border-radius: 20px 0 0 0;
}

.form-head{
  padding: 10px;
  border-radius: 20px 20px 0 0;
}

 .form-middle, .form-head, .form-body{
  border: 1px solid #AAB2B6;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.form-body span{
  text-align: center;
}

.main-form button{
  width: 35px;
  height: 35px;
  border: none;
  border: 1px solid #AAB2B6;
  border-radius: 5px;
  margin: 0 10px;
}

.form-head img{
  width: 25px;
}

.form-middle{
  border: 1px solid #AAB2B6;
  border-top: none;
  font-weight: 500;
  font-size: 0.8em;
  color: grey;
  padding: 0 35px;
}

.form-body{
  border-top: none;
}

.form-body a{
  color: black;
  padding: 5px 15px;
}

.delete:hover{
  background-color: rgba(255, 0, 0, 0.5);
}

.btn-group{
  display: none;
}

.alert,.alert-info{
  background-color: transparent;
  color: #212529;
  text-decoration: underline;
  border: 0px;
  padding: 0;
}

.small{
  display: none;
}

.type{
  width: 5vw;
  text-align: center;
}

.value{
  width: 60vw;
  text-align: center;
}

.buttons{
  width: 15vw;
  text-align: right;
}

.buttons button{
  margin: 7px 9px;
  background-color: #EFEFEF;
  border: 1px solid gray;
  outline: 0;
}

.returnDomains{
  padding: 0px 5px;
  color: gray;
  width: 180px;
  border-radius: 7px;
  border: 1px solid #AAB2B6;
  display: flex;
  justify-content: space-between;
  background-color: #F0F2F5;
}

.returnDomainText button{
  height: 15px;
  font-size: 15px;
  color: #5c5959;
  border: none;
}

.returnDomains img{
  width: 15px;
  height: 15px;
  margin: 5px 5px;
}

.search-box{
  margin-right: 5px;
  z-index: 4;
  height: 49px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px 10px 0 0;
}

.row{
  position: relative;
  z-index: 5;
  height: 46px;
  display: flex;
  align-items: center;
  padding: 5px 19px;
}

.right-side button .fa-solid{
  color: #1F1F1F;
}

.row input{
  margin-right: 5px;
  padding: 0 5px;
  flex: 1;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 16px;
  color: #1F1F1F;
}

.right-side button{
  background-color: #EFEFEF;
  border: 1px solid gray;
  outline: 0;
  margin: 0;
}

.row input::placeholder{
  color: gray;
  font-size: 16px;
}

.result-box{
  z-index: 3;
  position: relative;
  background-color: white;
  margin: 0;
  border: 1px solid gray;
}

.result-box ul{
  background-color: white;
  position: relative;
  z-index: 2;
  padding: 0 10px;
  list-style: none;
  border-radius: 10px;
  cursor: pointer;
  color: #1F1F1F;
  margin-bottom: 5px;
}

.result-box li{
  background-color: white;
  padding: 5px 0px;
}

.result-box ul li:hover{
  background-color: #E6EAEF;
}

.right-side{
  display: flex;
  justify-content: space-around;
}

.sort, .dropdown{
  position: relative;
  margin: 7px 10px;
}

@media (max-width: 600px) {
  .big{
    display: none;
  }

  .btn-group{
    display: block;
  }

  .small{
    background-color: #7387AB;
    border: #7387AB;
    display: block;
  }

  h1 {
    font-size: 20px;
  }

  h3{
    font-size: 15px;
  }

  .form-middle{
    padding: 2px;
  }

  .form-body{
    padding: 0;
    margin: 0;
  }

  .form-body button{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
  }

  .buttons{
    padding: 0;
    margin: 0;
  }

  .form-body img{
    width: 15px;
    height: 15px;
    margin-bottom: 5px;
    vertical-align: middle;
  }

  .form-body a, .form-body span{
    font-size: 15px;
    padding: 5px;
    margin: 0;
  }
}
